/*! GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container{
    max-width: 1199px;
    width: 80%;
    margin: auto;
}



/*! HEADER */
.header{
  position: absolute;
}

.header__content{
    background-color: transparent;
    padding: 20px 0;
}

header .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__content nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

.header__content nav ul li{
    display: inline;
    padding: 55px 15px;
}

header nav li a {
    text-decoration: none;
    color: black;
}


.header__content nav ul{
    list-style: none;
}


a span {
display: inline-block;
  transition: all 1s;
}

a:hover {
  color: #f55f8d;
}

a:hover span {
  animation: upToDown 0.3s;
}

.btn-grad {
    /*  linear-gradient(hướng trải màu, danh sách các màu );
        _ to right: màu đang được trải từ trái sang phải
        _ #fc00ff 0%, #00dbde 51%, #fc00ff 100%: thứ tự màu cần trải, phần trăm sau mã màu là vị trí bắt đầu trải của màu đó.
          Nếu không thêm phần trăm thì linear-gradient sẽ tự chia vùng màu sao cho đều nhau
    */
    background-image: linear-gradient(
      to right,
     #f55f8d 0, #f8ae56 51%, #f55f8d 100%
    );
  
    margin: 10px;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
  
    /*   tăng kích thước của màu nền, giúp vùng trải màu rộng hơn làm màu loan ra rộng hơn */
    background-size: 200%;
    border: 1px solid transparent;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
  }
  
  .btn-grad:hover {
    /*   Khi hover chỉnh vị trí ưu tiên hiển thị của màu nền. 
    Mặc định không xét giá trị cho background-position 
    thì sẽ có giá trị mặc định background-position: left top; 
    */
    background-position: right center;
  
    color: #fff;
    text-decoration: none;
  }



/* BANNER */
.banner{
  padding: 70px 0;
  background-image: url(../img/pic2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
}

.banner .banner__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__content .banner__left .banner__title p{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color:#f55f8d;
}

.banner__content .banner__left .banner__title h2{
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  color:#262626;
  margin-bottom: 20px;
}

.banner__content .banner__left .banner__info p{
  font-size: 18px;
  margin-bottom: 15px;
}

.banner__content .banner__left .banner__info ul {
  list-style: none;
}

.banner__info i{
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: white;
  border-radius: 35px;
  font-weight: 900;
  background-image:linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;

}

.banner__info li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}


/* SERVICES */
.service{
  padding: 70px 0;
  text-align: center;
  background-image: url(../img/bg2.png);
  /* background-size: cover; */
  /* background-position: top center; */
}

.service__title p{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}

.service__title h2{
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 40px;
}

.service__item {
  position: relative;
  padding: 30px 45px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transform: translateY(0);
  transition: transform 0.5s, border-image 0.5s;
  /* border:  4px  dashed transparent; */
}

.service__item:hover {
  transform: translateY(-20px);
  border-color: #f55f8d; 
  border-image: url('../img/br.png') 30 / 19px round;
}


.service__item p:first-of-type{
  font-weight: 700;
  font-size: 1.5rem;
}

.service__item img{
  width: 215px;
}


@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
